<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="{{ block "description" . -}}
        Personal website of James Fennell
        {{- end }}">
    <meta name="author" content="James Fennell">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" . -}}
        {{ .Site.Title }}
        {{- end }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Contrail+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>
<div id="container">

{{ block "main" . }}{{ end }}

{{ block "footer" . }}{{- end }}

</div>
</body>
</html>
