<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="{{ block "description" . -}}
        Personal website of James Fennell
        {{- end }}">
    <meta name="author" content="James Fennell">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" . -}}
        {{ .Site.Title }}
        {{- end }}</title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>
    <div id="header">
        <div class="page-width">
            <a href="/">jpfennell.com</a>
            {{ block "breadcrumbs" . }}{{ end }}
        </div>
    </div>
<div id="container" class="page-width">


{{ block "main" . }}{{ end }}

{{ block "footer" . }}{{- end }}

</div>
</body>
</html>
